@font-face {
  font-family: "Rocket";
  src: url("../Fuentes/Rocket\ Brush.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.top-bar {
  padding: 20px;
  /* luego puedes poner:
  background-color: #000;
  */
}

.brand-block {
  display: flex;
  align-items: center;
  gap: 12px;
}

.logo {
  width: 48px;
  height: 48px;
  object-fit: contain;
}

h1 {
  margin: 0;
  font-family: "Rocket", Arial, sans-serif;
}